# Series

In [42]:
# len(data) should be equal to len(index)

In [9]:
import numpy as np

In [10]:
import pandas as pd

In [47]:
labels = ['a','b','c']

In [12]:
my_data = [10,20,30]

In [63]:
arr = np.array(my_data)

In [64]:
arr

array([10, 20, 30])

In [65]:
d = {'a':10,'b':20,'c':30}

In [66]:
d

{'a': 10, 'b': 20, 'c': 30}

In [67]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [68]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [69]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

In [70]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [71]:
pd.Series(data=labels,index=my_data)

10    a
20    b
30    c
dtype: object

In [72]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [73]:
pd.Series(my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [74]:
pd.Series(my_data,my_data)

10    10
20    20
30    30
dtype: int64

In [75]:
pd.Series(d,labels) - pd.Series(d)*2

a   -10
b   -20
c   -30
dtype: int64

In [76]:
arr1 = np.arange(0,2)

In [77]:
pd.Series(arr1)

0    0
1    1
dtype: int32

In [78]:
my_list1 = [1,2,3,4]
arr2 = np.array(my_list1)

In [79]:
arr2

array([1, 2, 3, 4])

In [80]:
pd.Series(arr2)

0    1
1    2
2    3
3    4
dtype: int32

In [81]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [82]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [83]:
ser1 = pd.Series([1,2,3,4],['Mercedes','RBR','Renault','Ferrari'])

In [84]:
ser1

Mercedes    1
RBR         2
Renault     3
Ferrari     4
dtype: int64

In [85]:
ser2 = pd.Series([1,2,5,4],['Mercedes','RBR','Racing Point','Ferrari'])

In [86]:
ser2

Mercedes        1
RBR             2
Racing Point    5
Ferrari         4
dtype: int64

In [91]:
ser1['Mercedes']

1

In [102]:
num1 = ser1[ser1[ser2[ser1['Mercedes']]]]-1

In [105]:
ser2[num1]

4

In [106]:
ser1 + ser2

Ferrari         8.0
Mercedes        2.0
RBR             4.0
Racing Point    NaN
Renault         NaN
dtype: float64

# DataFrames

In [107]:
import numpy as np
import pandas as pd

In [109]:
from numpy.random import randn

In [110]:
np.random.seed(101)

In [111]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [112]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509